@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color:  #e6e6e6;
}

a, a:hover{
    text-decoration: none;
}

/* top bar */
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #0B3442;
}

.top-bar span{
    color: #fff;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0px 5px;
}

.top-bar a{
    color: #fff;
}

.top-bar a:hover{
    color: rgb(0, 174, 255);
}


/* Nav bar */
nav{
    background: #537F3A;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: #000
}

nav a:hover{
    color:#0B3442
}

.logo {
    flex: 1;
    align-items: left;
}

.logo a{
    display: flex;
    align-items: center;
    vertical-align: center;
    font-size: 21px;
    font-weight: bold;
    resize: vertical;
    overflow-wrap: normal;
}

.logo a:hover{
    color: #0B3442;
}

.logo img{
    width: 200px;
    padding: 0px 10px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 20px;
}

.toggle{
    font-size: 30px;
    display: none;
}

@media only screen and (min-device-width : 200px) and (max-width : 680px) {
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu{
       margin-top: 15px;
       display: none;
    }

    .menu.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .services{
        display: flex;
        flex-direction: column;
    }

    .products{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }

}

.container1 {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 15px;
}

.container1 img {
    width: 90%;
    padding-left: 30px;
    aspect-ratio: 16:9;
    display: block;

}

.container1 h1{
    padding-right: 30px;
    text-decoration: underline;
    text-underline-offset: 12px;
}

.container1 p{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}

/* new */

body{
    min-width: 180px;
}
  
@media (max-width: 680px) {
    .logo {
      margin-right: 20px;
    }
}
  
@media (max-width: 360px) {
    .logo a {
      font-size: 14px;
    }
}